import React from 'react'
import { connect } from 'dva'
import { Input } from 'antd'
<% if (style) { %>
import './index.scss'
<% } %>
class <%- name %> extends React.Component<any, any> {
    state = {}

    componentDidMount() {}

    render(){
        const { } = this.state
        const { data } = this.props.<%- name %>
        return (
            <div className='<%- styleName %>_page'><%- name %></div>
        )
    }
}
<% if (model) { %>
export default connect(({ <%- name %> }: any) => ({ <%- name %> }))(<%- name %>)
<% } %>
<% if (!model) { %>
export default <%- name %>
<% } %>